img {
  max-width: 300px;
  max-height: 300px;
  display: inline-block;
  margin-left: 60px;
  margin-top: 50px;
}

body {
  font-size: 18px;
  background-color: pink;

}

h1 {
  font-size: 40px;
  text-align: center;
}

section {
  margin-top: 50px;
}